<!DOCTYPE html>
<html>
  <head>
    <title>Spacedirect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  <!--ここからハンバーガーメニュー-->
  <div class="menu-content">
    <head>SPACE DIRECT<head>
    <ul class="pc">
    <%= link_to "ログイン", workspaces_path(class:"pc") %>
    <%= link_to "新規登録", new_user_registration_path(class:"pc") %>
  </div>
  <!--ここまでハンバーガーメニュー-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
